.chain-modal {
  background: #000500;
  padding: 16px;
  border-radius: 16px;
}
.modal-title > h4 {
  color: #fff;
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
